* {box-sizing: border-box;}
#root {overflow: hidden; position: relative;}
html {height:100%;overflow-y:scroll; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
body {height:100%;background:transparent;-webkit-font-smoothing:antialiased; -webkit-overflow-scrolling:touch;font-size:12px;color:#444;}
#root:before {content:''; position: absolute; z-index: -1; display: block; width: 16px; height:100%; background: rgba(0,0,0,0.1); left:0; top:0;}
#root:after {content:''; position: absolute; z-index: -1; display: block; width: 16px; height:100%; background: rgba(0,0,0,0.1); right:0; top:0;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0; padding:0; letter-spacing: 0.16px}
body, h1, h2, h3, h4, h5, h6, input, textarea, select {font-family:'IBM Plex Sans', 'sans-serif'; }
/*article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}*/
h1,h2,h3,h4,h5,h6 {font-weight:normal; font-size:100%}
input, select, textarea, button, label {font-size:100%; vertical-align:middle;}
select { color:#525252; line-height:1.1; padding-left:5px; border:1px solid #8d8d8d;}
input {border:0;}
input[type="text"],
input[type="password"],
input[type="tel"], input[type="email"] {border:1px solid #8d8d8d;}
fieldset, img, iframe {border:0 none}
b, strong {font-weight:600}
img {vertical-align:middle;border-style:none}
textarea {width:100%;padding:10px;resize:none;border:1px solid #ccc;background:#f9f9f9;color:#525252;}
em, address {font-style:normal}
a {text-decoration:none; background-color:transparent; vertical-align:middle; -webkit-text-decoration-skip:objects; color:#2d2d2d; word-break: break-word}
a:hover, a:active, a:focus {text-decoration:none}
a:active {color:#333}
menu,li {list-style:none}
button {padding:0; margin:0; border:0; cursor:pointer; vertical-align:middle; background:none;}
button, input {overflow:visible}
button, select {text-transform:none}
button, html [type="button"], [type="reset"],[type="submit"] {-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {outline:1px dotted ButtonText}
caption {width:0; height:0; font-size:0; line-height:0; overflow:hidden; /* visibility:hidden */}
hr {display:none}
i,em,address{font-style:normal}
label {cursor:pointer}
table {border-spacing:0; border-collapse:collapse; color:#2d2d2d;}
legend {position:absolute;top:0;left:-1000000000px;height:0;font-size:0;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#a8a8a8;
}
::-moz-placeholder { /* Firefox 19+ */
    color:#a8a8a8;
}
:-ms-input-placeholder { /* IE 10+ */
    color:#a8a8a8;
}
:-moz-placeholder { /* Firefox 18- */
    color:#a8a8a8;
}
.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0,0,0,0);
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

/*로그인*/

.login_area {display: block; overflow-y: auto; padding:30px 0; position: fixed; width: 100%; height: 100%; left:0; top:0;}
.login_layout {display: table; height:100%; margin:0 auto; table-layout: fixed; vertical-align: middle;}
.login_layout > form {display: table-cell; vertical-align: middle;}

.login_box {position: relative; min-width: 320px; min-height: 350px; background: #f4f4f4;  padding:16px 16px 0;}
.login_box > h2 {font-size:20px; line-height:28px; font-weight: 400;}
.login_box .input_box {margin-top:16px; display: flex; flex-direction: column;}
.login_box .input_box input {margin-top:8px; padding:15px 16px; font-size:14px; line-height:18px; border:none; border-bottom:1px solid #8d8d8d;}
.login_box .input_box + .input_box {margin-top:32px;}

.login_box .btn_box {position: absolute; left:0; bottom:0; width: 100%; display: flex;}
.login_box .btn_box button {height: 64px; flex:1;border:1px solid #0F62FE; display: flex; padding:15px 16px; color: #0F62FE; font-size:14px;}
.login_box .btn_box button.co1 {background: #0F62FE; color: #fff;}

/* 헤더 */

.header {display: flex; justify-content: space-between; align-items: stretch; height: 48px; background: #161616;}
.header .left {display: flex;}
.header .left h1 a {position: relative; font-size:14px; color:#f4f4f4; width: 150px; display: block; padding:16px;}
.header .left h1 a:after {content:''; display: block; width: 1px; height:24px; background: #393939; position: absolute; right:0; top:50%; transform: translateY(-50%);}

.header .left .gnb {display: flex; padding-left:16px;}
.header .left .gnb li {position: relative;}
.header .left .gnb li a {position: relative; display: block; color:#c6c6c6; font-size:14px; padding:16px;}
.header .left .gnb li button {position: relative; color:#c6c6c6; line-height: 0.9; font-size:14px; height: 48px; padding:17px 36px 16px 17px; background: url("../public/assets/image/ico_select_off.svg") no-repeat right 16px center;}
.header .left .gnb li.select:hover button{background-color:#262626; background-image: url("../public/assets/image/ico_select_on.svg"); color:#fff;}

.header .left .gnb > li > a:hover:after {content:''; position: absolute; display: block; width:100%; height:3px; background: #4589ff; bottom:-1px; left:0;}
.header .left .gnb > li > a.active:after {content:''; position: absolute; display: block; width:100%; height:3px; background: #4589ff; bottom:-1px; left:0;}

.header .deps2 {display: none; position: relative; left: -2px; z-index: 99}
.header .select:hover > .deps2 {display: block;}
.header .select > .deps2 a, .header .select > .deps2 button {width: 200px; height:48px; background: #262626; padding:14px 16px; color:#C6C6C6; display: block; text-align: left; font-size:14px;}
.header .select > .deps2 a:hover {background:#353535; color:#fff;}
.header .select > .deps2 button:hover  {background:#353535; color:#fff;}


.header .user_box.select:hover {display: block; text-align: right;}
.header .user_box > button {display: inline-block; align-items: center; justify-content: center; width: 48px; height:48px; }
.header .user_box > ul {display: none;}


.page {padding:40px 16px 100px; max-width: 1088px; margin:0 auto; min-height: 100vh;}

.profile_area {margin:0 auto; max-width: 450px;}
.profile_area > .profile_box {margin-top:35px;}
.profile_area > .btn_box {margin-top:23px; text-align: right;}
.profile_area > .btn_box button {width:132px; height:40px; background: #0F62FE; color:#fff; font-size:14px; padding:0 16px; text-align: left;}
.profile_box h3 {font-size:20px; line-height:26px; margin-bottom:20px;}
.profile_box > p.user_id {font-size:14px; margin-top:4px;}
.profile_box .input_box {display: flex; flex-direction: column;}
.profile_box .input_box + .input_box {margin-top:10px;}
.profile_box .input_box .tip {margin-top:4px; font-size:12px; color:#525252;}
.profile_box .input_box input {width: 100%; height:40px; margin-top:8px; background: #f4f4f4; border:none; border-bottom:1px solid #8d8d8d; padding:0 46px 0 16px; font-size:14px; color:#161616;}
.profile_box .input_box .input_btn {flex:1; position: relative; margin-top: 8px;}
.profile_box .input_box .input_btn input {margin-top: 0;}
.profile_box .input_box .input_btn button {position: absolute; height: 100%; padding:0 16px; right:0px;}

.search_section {}
.search_section .input_box {position: relative; display: flex; align-items: center;}
.search_section .input_box input {width: 100%; height:44px; background: #f4f4f4; border:none; border-bottom:1px solid #dadada; font-size:14px; color: #161616; padding-left:48px; padding-right:20px;}
.search_section .input_box button {position: absolute; top:50%; transform: translateY(-50%); left:14px;}
.search_section + .title_section {margin-top: 20px;}

.title_section {display: flex; align-items: center; justify-content: space-between;}
.title_section .title_box .title_b {font-size:22px; font-weight: 600; line-height:26px; color:#161616; margin-bottom:15px;}
.title_section .title_box .title {font-size:20px; font-weight: 600; line-height:26px; color:#161616;}
.title_section .title_box .info {margin-top: 7px; font-size:14px; line-height:18px; color:#525252;}
.title_section .title_box .sample {display: block; width: 100%; margin-top: 15px;}
.title_section .btn_box > * + * {margin-left:12px;}



/* 버튼 */

.cds--btn.upload {background:#0f62fe url('../public/assets/image/ico_btn_upload.svg') no-repeat right 16px center; font-size:14px; color: #fff;}
.cds--btn.download2 {background:#0f62fe url('../public/assets/image/ico_btn_download2.svg') no-repeat right 16px center; font-size:14px; color: #fff;}
.cds--btn.plus {background:#0f62fe url('../public/assets/image/ico_btn_plus.svg') no-repeat right 16px center; font-size:14px; color: #fff;}
.cds--btn.no_ico {background:#0f62fe; font-size:14px; color: #fff;}

.table_area {margin-top:24px;}
.table_area .table_option_box {position: relative; transition: 0.3s ease-in-out; z-index: 1; transform: translateY(0%); display: flex; align-items: center; justify-content: space-between; padding:0 16px; height: 32px; background:#0F62FE; color: #fff;}
.table_area .table_option_box.hide {transform: translateY(100%); z-index: -1;}
.table_area .table_option_box .info {font-size:14px;}
.table_area .table_option_box .right {display: flex;}
.table_area .table_option_box .right button {font-size:14px; color:#fff; margin-left: 15px; display: flex; align-items: center;}
.table_area .table_option_box .right .border_left {padding-left:16px; position: relative;}
.table_area .table_option_box .right .border_left:before {content:''; display: inline-block; width: 1px; height:16px; background: #fff; position: absolute; top:50%; transform: translateY(-50%); left:0;}

.table_area .table_option_box .right button img {margin-left:8px;}

.table_type1 {width: 100%; position: relative; z-index: 9}
.table_type1.center td, .table_type1.center th {text-align: center}
.table_type1 tr:hover td {background:#E5E5E5; }
.table_type1 tr.selected td {background:#E5E5E5; }
.table_type1 td, .table_type1 th {height:32px; background: #f4f4f4; text-align: left; vertical-align: middle; padding:0 20px;}
.table_type1 td {font-size:14px; border-bottom:1px solid #e0e0e0;}
.table_type1 th {font-size:14px; color:#161616; font-weight: 600; background: #E0E0E0;}
.table_type1 .co1 {color:#42BE65}
.table_type1 .co2 {color:#0043CE}
.table_type1 .co3 {color:#DA1E28}
.table_type1 td > * + * {margin-left:20px;}
.table_type1 td > a + button {margin-top: 2px;}

.table_type1.type2 {  border-collapse: separate; border-spacing: 0 10px;}
/*.table_type1.type2 tr {border-bottom:10px solid #fff; }*/
.table_type1.type2 td {padding:10px 10px; border-bottom:none; border-top:1px solid #e0e0e0}
.table_type1.type2 td.absolute {position: absolute; background: #fff; border:none; padding:0 16px; display: flex; align-items: center;}
.table_type1.type2 th {padding:15px 10px;}
.table_type1.type2 input[type="text"] {background: transparent; border:none; display: inline-block; width: 100%; outline: none;}

.table_pagination {background: #f4f4f4; height:50px; display: flex; align-items: center; justify-content: end;}
.table_pagination .page_num {font-size:14px; color:#161616; margin-right:16px;}
.table_pagination button {width:48px; height:50px; display: flex; align-items: center; justify-content: center; border-left:1px solid #e0e0e0}

.table_type1 input[type="checkbox"] {width: 16px; height:16px; cursor: pointer;}

.file_upload_area .head {position: fixed; top: 0; left:0; display: flex; align-items: center; height: 48px; width: 100%; background: #0F62FE; color: #fff; font-size:14px; border-bottom:1px solid #393939; z-index: 99}
.file_upload_area .head button {width:48px; height:48px; display: flex; align-items: center; justify-content: center;}

.file_upload_area .head.type2 {padding-left:40px; justify-content: space-between;}

.file_upload_area .title_section {padding-top:40px;}
.file_upload_area .title_section.pd0 {padding-top: 0;}
.file_upload_area > .btn_box {margin-top:26px; display: flex; justify-content: end; align-items: center;}
.file_upload_area > .btn_box a, .file_upload_area > .btn_box button {font-size:14px; color:#0f62fe; border:1px solid #0f62fe; width:105px; height:40px; padding:0 16px; display: flex; align-items: center;}
.file_upload_area > .btn_box > * + * {margin-left:12px; width: 162px !important;}

.dropzone {border:1px dashed #8d8d8d; width: 100%; height:200px; margin-top: 30px; text-align: left; font-size:14px; color:#0f62fe; padding:20px; cursor: pointer;}
.dropzone.dragging {border:1px dashed #0f62fe;}

.input_text_area {}
.input_text_area .input_box {margin-top:20px;}
.input_text_area .input_box label {margin-bottom:8px; font-size:12px; color:#525252; display: flex; align-items: center; justify-content: space-between;}
.input_text_area .input_box label .required:after {content:'*'; color:#DA1E28; margin-left:4px;}
.input_text_area input {height: 40px; padding:0 16px; font-size:14px; background: #f4f4f4; border:none; border-bottom:1px solid #8d8d8d; flex-basis: 100%; width: 100%;}
.input_text_area textarea {height: 100px; padding:11px 16px; background: #f4f4f4; border:none; border-bottom:1px solid #8d8d8d; flex-basis: 100%; width: 100%;}
.input_text_area .flex {display: flex;}
.input_text_area .flex > div {flex-basis: 100%;}
.input_text_area .flex > div + div {margin-left:27px;}
.input_text_area .flex > div.fb30 {flex-basis: 30%;}


.report_detail_area {}
.report_detail_area > * > * + * {margin-top:20px; }
.report_detail_area > * > *.flex {display: flex; align-items: center; gap: 0 36px;}
.report_detail_area > * > *.flex > * {flex:1;}
.report_detail_area .input_box {display: flex; flex-direction: column;}
.report_detail_area .input_box label {font-size:12px; color:#525252; margin-bottom:8px; display: flex; align-items: center; justify-content: space-between; cursor: inherit}
.report_detail_area .input_box label em.required {color: #DA1E28;}
.report_detail_area .input_box input, .report_detail_area .input_box textarea {height:40px; background:#F4F4F4; font-size:14px; color: #161616; border:none; padding:0 16px; line-height: 18px;}
.report_detail_area .input_box .edit {position: relative;}
.report_detail_area .input_box .edit input, .report_detail_area .input_box .edit textarea {border-bottom:1px solid #8d8d8d}
.report_detail_area .input_box .edit .edit_btn_box {position: absolute; bottom:16px; right:30px; display: flex; align-items: center; gap: 0 11.5px;}


.report_detail_area .input_box textarea {height:200px; padding:16px;}

.filter_area {background: #F4F4F4; padding:16px;}
.filter_area > * + * {margin-top:14px;}
.filter_area > *.flex {display: flex; align-items: center;}
.filter_area > *.flex > .filter_box + .filter_box {margin-left:33px;}
.filter_area .filter_box {display: flex; align-items: center; flex-wrap: wrap;}
.filter_area .filter_box .tit {font-size:14px; font-weight: 600; color:#161616; text-align: right; min-width: 40px; margin-right: 16px;}
.filter_area .filter_box .keyword {font-size:12px; line-height:16px; padding:4px 8px; color:#161616; font-weight: 400; background: #E0E0E0; border-radius: 25px;}
.filter_area .filter_box .keyword + .keyword {margin-left:10px;}


